img {
  max-width: 100%;
}

.bg-bordo {
  background-color: #4A2B33;
}

h2 {
  font-family: Azeret Mono;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
}

.navbar {
  padding: 20px 0 20px;
}
.navbar-collapse {
  justify-content: space-between;
}
.navbar .nav-item > img:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.085);
}
.navbar-nav .nav-link {
  color: #D27487;
}
.navbar-nav .nav-link:hover {
  opacity: 0.5;
  transform: scale(1.0085);
}

p {
  font-size: 32px;
  line-height: 45px;
}

.section-1 {
  padding-bottom: 36px;
}

.section-2 {
  padding: 220px 0;
  color: black;
}
.section-2 p {
  margin-bottom: 0;
}

.section-3 {
  padding: 120px 0;
  background: #E9E9E3;
  color: #6F6F64;
}
.section-3 button.btn {
  border: solid 3px #6F6F64;
  border-radius: 0;
  background: transparent;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
}
.section-3 button.btn-active {
  background: #6F6F64;
  color: #E9E9E3;
}

.section-4 {
  background: #AA9E54;
}
.section-4 p, .section-4 h2 {
  color: white;
}
.section-4 h2 {
  font-family: Azeret Mono;
  font-size: 17px;
  font-weight: 700;
  line-height: 21.6px; /* 127.059% */
}
.section-4 p {
  font-family: Inter;
  font-size: 25px;
  font-weight: 400;
  line-height: 36.4px;
}

.section-5 [class*=d-flex] {
  row-gap: 30px;
}

.section-6 {
  background: #4A2B33;
  color: #D27487;
}
.section-6 p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px; /* 150% */
}
.section-6 h3 {
  font-family: Azeret Mono;
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: 62.5px; /* 132.979% */
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
